/* || general styles */

html {
    font-family: 'Russo One', sans-serif;

  }

  body {
    width: 800px;
    margin: 0 auto;
    
  }

  h1 {

    font-family: 'Russo One', sans-serif;
  }

h2{

  font-family: 'Scada', sans-serif;
}
  /* header styles */

  h1 {

    font-size: 4rem;
    text-align: center;
  }

  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }

  /* section styles */

  section article {
    width: 33%;
    float: right;
  }

  section p {
    font-family: 'Russo One', sans-serif;
    margin: 5px 0;
  }

  section ul {
    font-family: 'Scada', sans-serif;
    margin-top: 0;
  }

  h2 {
      font-family: 'Scada', sans-serif;
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
  }
